body { 
    background-color: #0b0e14; 
    color: white; 
    text-align: center; 
    font-family: sans-serif; 
}
#app { 
    max-width: 450px; 
    margin: 40px auto; 
}
h1 { 
    color: #0052FF; 
}
.card { 
    background-color: #1a1f2e; 
    padding: 20px; 
    border-radius: 12px; 
    margin-top: 15px; 
}
